name: Test NixOS Config

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      NIXPKGS_ALLOW_UNFREE: 1

    steps:
      - uses: actions/checkout@v4

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'rampage'
          witness-carnage: true
          nix-permission-edict: true

      - name: Set up Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Use Cachix
        uses: cachix/cachix-action@v16
        with:
          name: maiko-nixos-build
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Check Nix Flake
        run: |
          nix flake check

      - name: Build NixOS configuration
        run: |
          nix build .#nixosConfigurations.company.config.system.build.toplevel
